<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <base href="{{ base_url }}" target="_blank">
    <title>Firebase Custom Auth Management</title>
    <style>
        input {
            width: 500px;
            display: block;
        }
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Set a new password for</h1>
    <form id="reset-password">
        <input type="email" value="{{ email }}" disabled>
        <br>
        <input type="password" name="password" placeholder="new password" required>
        <br>
        <button type="submit">Reset password</button>
        <p class="error"></p>
        <p class="success"></p>
    </form>
    <script src="./static/jquery-3.3.1.min.js"></script>
    <script>


        $("#reset-password").submit(function (event) {
            event.preventDefault();
            const submitedData = $(this).serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
            const password = submitedData['password'];
            $.ajax("./api/auth/reset_password", {
                        data: JSON.stringify({
                            token: "{{ token }}",
                            password: password,
                        }),
                        contentType: 'application/json',
                        type: 'PATCH',
                        success: function (data) {
                            $("#reset-password p.error").html("");
                            $("#reset-password p.success").html("password changed successfully");
                        },
                        error: function (data) {
                            $("#reset-password p.error").html(data['responseJSON']['msg']);
                            $("#reset-password p.success").html("");
                        }
                    });
        });
    </script>
</body>

</html>